.application {
  min-height: 100%

  &__header {
  }

  &__wrapper {
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    background: #222
    color: #f1f1f1
    animation-duration: 0.3s

    &.has-sidebar {
      > main {
        flex-basis: 65%
      }

      > aside {
        flex-basis: 35%
        flex-shrink: 0
      }
    }

    &.no-sidebar {
      > main {
        flex-basis: 90%
      }
    }

    > main {
      background: #f1f1f1
      color: #222
      min-height: 100vh

      > {
        h1, h2, h3, h4, h5, h6, p {
          padding-left: r(20px)
          padding-right: @padding-left
        }
      }
    }

    > aside {
      padding: r(20px)
    }
  }
}

.fancy-header {
  background: #222
  padding: r(20px)
  color: #fff

  h2 {
    margin: 0
  }
}

.offline-notice,
.admin-bar {
  position: fixed
  z-index: 99999
  top: r(20px)
  left: r(20px)
  padding: r(7px)
  display: inline-block
  font-size: r(20px)
  text-transform: uppercase
  font-weight: 700
  color: #fff
  background: darken(#222, 15%)
}

.admin-bar {
  top: initial
  left: 0
  bottom: 0
  right: 0

  a {
    color: inherit
  }
}
