.application {
  min-height: 100%

  &__header {

  }

  &__wrapper {
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    background: colors.darkgrey
    color: colors.white
    animation-duration: 0.3s

    &.sidebar-open {
      > main {
        // flex-basis: 65%
        width: 65%

        @media (max-width: 768px) {
          width: 10%
          flex-shrink: 0
          width: 90%
          transform: translateX(-90%)
        }
      }

      aside {
        width: 35%

        @media (max-width: 768px) {
          width: 90%
          flex-shrink: 0
          transform: translateX(-90%)
        }
      }
    }

    &.sidebar-closed {
      main {
        // flex-basis: 90%
        width: 90%

        @media (max-width: 768px) {
          flex-shrink: 0
        }
      }

      aside {
        // white-space: nowrap
        overflow: hidden
        width: 10%

        @media (max-width: 768px) {
          flex-shrink: 0
          width: 90%
        }
      }

      .download-project {
        > * {
          // display: none
        }
      }
    }

    > main {
      min-height: 100vh
      overflow: hidden
      transition: 0.3s

      p {
        max-width: r(700px)
      }
    }

    > aside {
      padding: r(20px)
      min-height: 100vh
      transition: 0.3s
    }
  }
}

main {
  background: colors.white
  color: colors.darkgrey
}

