.author {
  text-align: center
  background: colors.grey
  fightBoxModel()
  padding: r(20px)

  h3 {
    margin-top: 0
  }

  .author-image {
    margin-bottom: r(15px)
  }

  address {
    font-style: normal
    font-size: r(30px)
    font-weight: bold
  }

  p {
    margin: 0
    font-size: r(16px)
  }
}
