.download-project {
  fightBoxModel()
  margin-top: r(20px)
  background: colors.bluishgrey
  color: colors.white
  padding: r(20px)
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  text-align: center

  .wrapper {
    max-width: r(800px)
  }
}
