aside .search-form {
  margin-bottom: r(40px)

  .paginating-list {
    p {
      font-size: r(12px)
    }

    > p {
      margin-left: 0
    }

    .pagination {
      margin-left: 0
    }
  }

  .post-list__single {
    margin-left: r(-20px)
    width: "calc(100% + %s)" % r(40px)
      margin-left: 0
    h2 {
      font-size: r(20px)
    }
  }
}
