.post-header {
  background: colors.darkgrey
  // padding: r(20px)
  color: colors.white
  // fightBoxModel()

  h2 {
    margin: 0
  }
  .overlay {
    width: 100%
    padding: r(20px)
    background: colors.darkgrey
  }

  &.has-image {
    position: relative

    .overlay {
      background: rgba(#000000, 0.7)
      position: absolute
      bottom: 0
      left: 0
    }
  }
}

