.single-page,
.blog,
.archive,
.home {

  #content {
    padding-top: r(20px)
    padding-bottom: @padding-top

    > *:not(.fancy-header) {
      padding-left: @padding-top
      padding-right: @padding-top
    }
  }
}

// import 'Singular/*'
.fancy-header {
  background: #222
  padding: r(20px)
  color: #fff

  h2 {
    margin: 0
  }
}
