.single-slide {
  background: #222
  background-size: cover
  background-position: center
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  // height: 100%
  // width: 100%
  height: 100vh
  width: 100vw
  color: #fff
  animation-duration: 0.3s

  &.parent {
    text-align: center

    ul {
      display: none
    }
  }

  &.child {

  }

  .wrapper {
    max-width: r(1200px)
    width: 100%
    background: rgba(#000, 0.8)
    padding: r(30px)
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center
  }

  h1 {
    font-size: r(80px)
  }

  h2 {
    font-size: r(60px)
  }

  h3 {
    font-sise: r(40px)
  }

  h4 {
    font-size: r(30px)
  }

  p, ul, ol {
    font-size: r(24px)
  }

  ul {
    list-style-type: none

    li {
      position: relative
      &:before {
        position: absolute
        left: r(-30px)
        content: '- '
        font-weight: 700
        font-family: monospace
      }
    }
  }

  .column {
    float: left
    width: 50%
  }
}

.slide-preview {
  width: 25vw
  height: 25vw
  padding: r(30px)
  background: #222
  background-size: cover
  background-position: center
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  position: relative

  @media (max-width: 1280px) {
    width: 45vw
    height: 45vw
  }

  @media (max-width: 768px) {
    width: 90vw
    height: 90vw
  }0

  a {
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    font-size: 0
  }

  h2 {
    text-align: center
    width: 100%
    color: #fff
  }

  .subslides {
    border: r(1px) solid #ccc
    position: absolute
    bottom: r(30px)
    overflow: hidden
    display: flex
    max-width: 100%


    .slide-preview {
      width: r(80px)
      height:r(80px)
      margin: 0
      border-right: r(1px) solid #000
      transition: 0.2s ease-in
      float: left
      background-image: none !important
      padding: 3%

      &:hover, &:focus-within {
        background-color: lighten(#000, 10%)
        transition: 0.2s ease-out
      }

      &:last-child {
        border-right: 0
      }

      h2 {
        font-size: r(8px)
      }

      > *:not(a, h2) {
        display: none
      }
    }
  }
}

.all-slides {
  overflow: hidden
  background: darken(#222, 10%)
  height: 100vh
  overflow-y: scroll
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center


  @media (max-width: 1280px) {
    > .slide-preview {
      margin-right: 0 !important
    }
  }

  > .slide-preview {
    // float: left
    // margin-right: 4.5vw
    margin-top: r(20px)
    margin-bottom: r(20px)
    // margin-bottom: 5vw
    box-shadow: r(4px) r(4px) r(5px) r(0px) rgba(0,0,0,0.75)
    transition: 0.2s ease-in

    &:hover, &:focus-within {
      transform: translateY(r(5px))
      transition: 0.2s ease-out
    }

    &:nth-child(3n),
    &:last-child {
      margin-right: 0
    }

  }
}
