.single-slide {
  background: colors.darkgrey
  background-size: cover
  background-position: center
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  // height: 100%
  // width: 100%
  height: 100vh
  width: 100vw
  color: colors.white
  animation-duration: 0.3s

  @media (max-width: 768px) {
    position: relative
    min-height: 100vh
    height: auto
    // margin-top: r(20px)
    padding-top: r(20px)
    // padding-bottom: r(80px)
  }

  &.gif {
    @media (max-width: 768px) {
      background-size: contain
    }
  }

  &.parent {
    .wrapper {
    }
  }

  &.child {
    h1 {
      align-self: flex-start
      text-align: center
    }
  }


  .wrapper {
    width: 90%
    background: rgba(#000, 0.9)
    padding: 0 r(30px)
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center
    margin: r(20px) 0
  }

  pre {
    background: rgba(29, 31, 33, 0.6) !important
  }

  .slide-title {
    margin-top: r(50px)
    margin-bottom: r(25px)
    padding-bottom: r(10px)
    border-bottom: r(3px) solid colors.darkgrey

    &:last-child {
      border-bottom: 0
    }
  }

  .slide-content {
    margin-bottom: r(50px)
  }

  .edit {
    position: fixed
    right: 0
    bottom: 0
    color: transparent
    text-decoration: none
    display: inline-block
    padding: r(12px)
    font-size: r(20px)
    font-weight: 700
    transition: 0.3s

    &:hover, &:focus, &:active {
      background: colors.darkgrey
      color: colors.white
    }
  }

  .vincit-logo {
    position: absolute
    bottom: r(20px)
    left: r(20px)
    max-width: r(200px)
  }

  .handle {
    position: absolute
    bottom: r(20px)
    right: r(20px)
    font-size: r(40px)
    font-weight: 900
  }

  @media (max-width: 768px) {
    .vincit-logo, .handle {
      // position: static
      margin: r(20px) 0
    }

    .edit-link {
      display: none
    }
  }

  .column {
    float: left
    width: 48%
    margin-right: auto

    &+:not(.column) {
      clear: both
    }

    &:last-child {
      margin-right: 0
    }
    // display: flex
  }
}

.slide-preview {
  width: 25vw
  height: 25vw
  padding: r(30px)
  background: colors.darkgrey
  background-size: cover
  background-position: center
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  position: relative

  @media (max-width: 1280px) {
    width: 45vw
    height: 45vw
  }

  @media (max-width: 768px) {
    width: 90vw
    height: 90vw
  }0

  a {
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    font-size: 0
  }

  h2 {
    text-align: center
    width: 100%
    color: colors.white
  }

  .subslides {
    border: r(1px) solid #ccc
    position: absolute
    bottom: r(30px)
    overflow: hidden
    display: flex
    flex-flow: row wrap
    max-width: 100%
    width: 95%


    .slide-preview {
      width: r(80px)
      height:r(80px)
      flex-grow: 1
      margin: 0
      // border-right: r(1px) solid #000
      outline: r(1px) solid #000
      transition: 0.2s ease-in
      float: left
      background-image: none !important
      padding: 3%

      &:hover, &:focus-within {
        background-color: lighten(#000, 10%)
        transition: 0.2s ease-out
      }

      &:last-child {
        border-right: 0
      }

      h2 {
        font-size: r(8px)
      }

      > *:not(a, h2) {
        display: none
      }
    }
  }
}

.all-slides {
  overflow: hidden
  background: darken(colors.darkgrey, 10%)
  height: 100vh
  overflow-y: scroll
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center


  @media (max-width: 1280px) {
    > .slide-preview {
      margin-right: 0 !important
    }
  }

  > .slide-preview {
    // float: left
    // margin-right: 4.5vw
    margin-top: r(20px)
    margin-bottom: r(20px)
    // margin-bottom: 5vw
    box-shadow: r(4px) r(4px) r(5px) r(0px) rgba(0,0,0,0.75)
    transition: 0.2s ease-in

    &:hover, &:focus-within {
      transform: translateY(r(5px))
      transition: 0.2s ease-out
    }

    &:nth-child(3n),
    &:last-child {
      margin-right: 0
    }

  }
}

.slide-loading-text {
  margin: r(20px)
}
