.application__wrapper {
  &.single-page,
  &.single-post {
    #content article > {
      h1, h2, h3, h4, h5, h6, p,
      #comments {
        margin-left: r(20px)
        margin-right:  @margin-left
      }
    }
  }

  &.blog,
  &.archive,
  &.error {
    #content {
      h1, p, form {
        margin-left: r(20px)
        margin-right: @margin-left
      }
    }
  }

  &.home {
    #content article {
      p {
        margin-left: auto
        margin-right: auto

        @media (max-width: 1200px) {
          margin-left: r(20px)
          margin-right: @margin-left
        }
      }
    }
  }
}
