body {
  font-family: 'Source Sans Pro', sans-serif
}

setHeadings(60px)
@media (max-width: 768px) {
  setHeadings(40px)
}

p, ul, ol {
  font-size: r(24px)
  line-height: 1.5
}

pre {
  font-family: 'Source Code Pro', monospace !important

  &.small {
    padding: r(5px) !important
    margin: 0
    display: inline
  }
}

code {
  font-family: 'Source Code Pro', monospace !important
}

ul {
  list-style-type: none

  li {
    position: relative

    &:before {
      position: absolute
      left: r(-30px)
      content: '- '
      font-weight: 700
      font-family: monospace
    }
  }
}

textInput() {
  background: lighten(#ccc, 10%)
  border-radius: 0
  appearance: none
  border: 0
  outline: 0
  padding: r(4px) r(8px)
  margin: r(5px) 0
  transition: 0.3s

  &:focus, &:hover, &:active {
    border: 0
    outline: 0
    background: #fff
  }
}

input {
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    textInput()
  }
}
