body {
  font-family: 'Source Sans Pro', sans-serif
}

setHeadings(60px)
@media (max-width: 768px) {
  setHeadings(40px)
}

p, ul, ol {
  font-size: r(24px)
  line-height: 1.5
}

pre {
  font-family: 'Source Code Pro', monospace !important

  &.small {
    padding: r(5px) !important
    margin: 0
    display: inline
  }
}

code {
  font-family: 'Source Code Pro', monospace !important
}

ul {
  list-style-type: none

  li {
    position: relative

    &:before {
      position: absolute
      left: r(-30px)
      top: r(17px)
      content: ''
      display: inline-block
      width: r(20px)
      height: r(4px)
      background: currentColor
      // content: '- '
      // font-weight: 700
      // font-family: monospace
    }
  }
}

textInput() {
  background: lighten(#ccc, 10%)
  border-radius: 0
  appearance: none
  border: 0
  outline: 0
  padding: r(4px) r(8px)
  margin: r(5px) 0
  transition: 0.3s

  &:focus, &:hover, &:active {
    border: 0
    outline: 0
    background: colors.white
  }
}

input {
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    textInput()
  }
}

img {
  max-width: 100%
  height: auto
}

button() {
  appearance: none
  background-color: colors.orange
  color: colors.white
  text-decoration: none
  display: inline-block
  padding: r(6px) r(10px)
  font-size: 1.4em
  font-weight: 700
  transition: 0.3s

  &:hover, &:focus, &:active {
    background: colors.beige
    color: colors.orange
  }
}

.button,
button {
  button()
}
