html, body {
  height: 100%
  width: 100%
  overflow-x: hidden
  margin: 0
  padding: 0
}

html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  overflow-y: scroll
}

#root {
  height: 100%
  margin-top: -16px; // I don't know why.
}

.application {
  min-height: 100%

  &__header {
    background: #ae1414
  }

  &__wrapper {
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    background: #222
    color: #f1f1f1

    &.has-sidebar {
      > main {
        flex-basis: 65%
      }

      > aside {
        flex-basis: 35%
      }
    }

    &.no-sidebar {
      > main {
        flex-basis: 90%
      }
    }

    > main {
      background: #f1f1f1
      color: #222
      min-height: calc(100vh - 80px)
      padding: 20px
    }

    > aside {
      padding: 20px
    }
  }
}
