html, body {
  height: 100%
  width: 100%
  overflow-x: hidden
  margin: 0
  padding: 0
}

html {
  box-sizing: border-box
  font-size: 16px // Changing this will scale *everything* that uses rem
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  overflow-y: scroll

  &.fullscreen {
    overflow: hidden
    background: #222
  }
}

#root {
  height: 100%
}

@import 'styles/Mixins'
@import 'styles/Typography'
@import 'styles/components/*'

