@import 'styles/Variables'
@import 'styles/Mixins'

html, body {
  height: 100%
  width: 100%
  overflow-x: hidden
  margin: 0
  padding: 0
}

html {
  box-sizing: border-box
  font-size: 16px // Changing this will scale *everything* that uses rem
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  overflow-y: scroll

  &.desktop-fullscreen {
    @media (min-width: 1280px) {
      overflow: hidden
      background: colors.darkgrey
    }
  }
}

#root {
  height: 100%
}

@import 'styles/Typography'
@import 'styles/components/*'
@import 'styles/routes/*'

